.btn {
    position: relative;
    width: 70px;
    height: calc(25% - 10px);
    display: inline-block;
    border-radius: 6px;
    background-color: #fff;
    margin: 0 5px 10px 5px;
    cursor: pointer;
}

.btn > span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    line-height: 17px;
    font-family: "remixicon";
}